a:link {color:#01c7f6;}
a:visited {color:#01c7f6;}
a:hover {color:#01c7f6;}
a:active {color:#01c7f6;}
.Wp-Körper-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Überschrift-1-P
{
    margin:32.0px 0.0px 4.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Betonte-Hervorhebung-C
{
    font-family:"Verdana", sans-serif; font-style:italic; font-weight:700;
}
.Wp-Standard-Absatzschriftart-C
{
    font-family:"Verdana", sans-serif;
}